:root{
    --light-clr: #fff;
    --dark-clr: #262626;
    --dark-clr-alt: #777;
}

html {
    box-sizing: border-box;
  }
  *, *::before, *::after {
    box-sizing: inherit;
  }


*{
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: var(--dark-clr)
}

.centered{
    max-width: 550px;
    margin: 14px;
}

/* header */

.header-container{
    display: flex;
    /* justify-content: space-between; */
}

.text-container{
    border: 5px solid var(--dark-clr);
    border-left: 0px;
    border-right: 0px;

    margin-left: 17px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portrait{
    height: 166px;
}

.name{
    font-size: 37px;
    margin-top: 7px;
}

.name-subtitle, .contact-info{
    color: var(--dark-clr-alt);
}

.name-subtitle{
    font-size: 14px;
    font-weight: 400;
    margin-top: 1px;
}

.contact-info{
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 6px;
}

/* tabs */

.tabs{
    padding: 0;
    margin: 0;
    margin-top: 24px;

    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tabs li{
    margin: 1px;
    text-align: center;
    padding: 6px 0;
    margin-bottom: 3px;
}

.tabs li, .case-study{
    border: 3px solid var(--dark-clr);
    font-weight: 600;
}

.tabs li:hover{
    cursor: pointer;
}

.selected{
    background-color: var(--dark-clr);
    color: var(--light-clr);
}

.top{
    width: 49%;
}

.bottom{
    width: 32.2%;
}

/* Sections */



.sec{
    display: none;
}

.sec h1{
    margin-top: 42px;
    margin-bottom: 22px;
}

.current-sec{
    display: initial;
}

@media (min-width: 550px){
    .centered{
        margin: 14px auto;
    }
}

.sec ul{
    list-style-type: '- ';
}


.sec img{
    margin-bottom: 16px;
}

.sec p{
    margin-bottom: 22px;
}

.case-study{
    text-decoration: none;
    padding: 6px 12px;
    box-sizing: border-box;
    margin-bottom: 42px;
}

.case-study:hover{
    cursor: pointer;
}

.underlined-header{
    position: relative;
}

.underlined-header:before{
    position: absolute;
    content: "";
    height: 5px;
    width: 60px;
    top: 30px;
    background-color: #262626;
}

/* Case Study Pages */

.project h1{
    font-size: 24px;
}

.project h3{
    margin-top: 22px;
}

.project img{
    margin-top: 10px;
}

.project p{
    margin-top: 10px;
    margin-bottom: 16px;
}

.project .case-study{
    margin-top: 16px;
}

img{
    max-width: 100%;
    border: 3px solid var(--dark-clr)

}

.img-border{
    border: 3px solid var(--dark-clr)
}